<a href="https://colab.research.google.com/github/itstherampage/ICA4/blob/main/ICA4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [47]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/DATA/lego_setsHB.csv')
df

,list_price,num_reviews,piece_count,play_star_rating,prod_id,review_difficulty,star_rating,val_star_rating
0,29.9900,2.0,277,4.0,75823,Average,4.5,4.0
1,19.9900,2.0,168,4.0,75822,Easy,5.0,4.0
2,12.9900,11.0,74,4.3,75821,Easy,4.3,4.1
3,99.9900,23.0,1032,3.6,21030,Average,4.6,4.3
4,79.9900,14.0,744,3.2,21035,Challenging,4.6,4.1
...,...,...,...,...,...,...,...,...
12256,36.5878,6.0,341,4.4,70609,Easy,4.3,4.2
12257,24.3878,8.0,217,4.1,70629,Easy,3.6,4.1
12258,24.3878,18.0,233,4.6,70607,Easy,4.6,4.5
12259,12.1878,1.0,48,5.0,70628,Very Easy,5.0,5.0
12260,12.1878,11.0,109,4.5,70606,Easy,4.7,4.8

In [48]:
#1. use the .info() and .describe() functions to have an overall description of the dataset. 
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   list_price         12261 non-null  float64
 1   num_reviews        10641 non-null  float64
 2   piece_count        12261 non-null  int64
 3   play_star_rating   10486 non-null  float64
 4   prod_id            12261 non-null  int64
 5   review_difficulty  10206 non-null  object
 6   star_rating        10641 non-null  float64
 7   val_star_rating    10466 non-null  float64
dtypes: float64(5), int64(2), object(1)
memory usage: 766.4+ KB

,list_price,num_reviews,piece_count,play_star_rating,prod_id,star_rating,val_star_rating
count,12261.000000,10641.000000,12261.000000,10486.000000,1.226100e+04,10641.000000,10466.000000
mean,65.141998,16.826238,493.405921,4.337641,5.983675e+04,4.514134,4.228960
std,91.980429,36.368984,825.364580,0.652051,1.638115e+05,0.518865,0.660282
min,2.272400,1.000000,1.000000,1.000000,6.300000e+02,1.800000,1.000000
25%,19.990000,2.000000,97.000000,4.000000,2.103400e+04,4.300000,4.000000
50%,36.587800,6.000000,216.000000,4.500000,4.206900e+04,4.700000,4.300000
75%,70.192200,13.000000,544.000000,4.800000,7.092200e+04,5.000000,4.700000
max,1104.870000,367.000000,7541.000000,5.000000,2.000431e+06,5.000000,5.000000

In [49]:
#2. use boolean operators find the Lego sets which have star_rating greater than or equal to 4.
numGreater = df.loc[df['star_rating'] >= 4]
# could also use numGreater.shape
numGreater

,list_price,num_reviews,piece_count,play_star_rating,prod_id,review_difficulty,star_rating,val_star_rating
0,29.9900,2.0,277,4.0,75823,Average,4.5,4.0
1,19.9900,2.0,168,4.0,75822,Easy,5.0,4.0
2,12.9900,11.0,74,4.3,75821,Easy,4.3,4.1
3,99.9900,23.0,1032,3.6,21030,Average,4.6,4.3
4,79.9900,14.0,744,3.2,21035,Challenging,4.6,4.1
...,...,...,...,...,...,...,...,...
12255,36.5878,8.0,341,4.2,70610,Average,4.6,4.5
12256,36.5878,6.0,341,4.4,70609,Easy,4.3,4.2
12258,24.3878,18.0,233,4.6,70607,Easy,4.6,4.5
12259,12.1878,1.0,48,5.0,70628,Very Easy,5.0,5.0
12260,12.1878,11.0,109,4.5,70606,Easy,4.7,4.8

In [50]:
#3 find the number of Lego sets whose star_rating greater than or equal to 4. (Hint: conside using .count( ) on the specified column)
#numGreater['star_rating'].count()
numGreater[numGreater.columns[6]].count()

9563

In [51]:
#4. find the average list price for the Lego sets whose star_rating greater than or equal to 4. (Hint: consider specifying the list_price column after obtaining data and before taking the average)
listPrice = df.loc[df['star_rating'] >= 4, ['list_price']]
listPrice.mean()

list_price    68.24627
dtype: float64